<div class="current-user">
  <img id="user-avatar" src={{dataService.user.image}}>
  <div class="current-user-name">
    {{dataService.user.firstname}} {{dataService.user.lastname}}
    {{#basic-dropdown as |dd|}}
      {{#dd.trigger tagName='a' class="user-dropdown"}}{{ui-icon 'chevron-circle-down'}}{{/dd.trigger}}
      {{#dd.content class="user-dropdown-content"}}
        <div id="triangle-up"></div>
        <ul>
          <li>
            <a {{action 'logout'}}>
              Logout
            </a>
          </li>
        </ul>
      {{/dd.content}}
    {{/basic-dropdown}}
  </div>
</div>
