<div class="row">
  <div class="col-xs-3">
    <h4 class="title">User Details</h4>
  </div>
</div>
<div class="row commands-row">
  <div class="col-xs-12">
    {{#link-to 'dashboard.users.index' tagName="button" class="btn command-btn"}}
      <i class="glyphicon glyphicon-chevron-left"></i>
    {{/link-to}}
    <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <div class="panel">
      <div class="panel-body card">
        <div class="row">
          <div class="col-xs-12">
            <h4 class="title">User</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-center">
            <img class="settings-img" src={{model.image}}>
            <h3 class="settings-user">{{model.firstname}} {{model.lastname}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="panel">
      <div class="panel-body card">
        <div class="row">
          <div class="col-xs-12">
            <h4 class="title">Team</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-center">
            <img class="settings-img" src= {{dataService.team.image}}>
            <h3 class="settings-user">{{dataService.team.name}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="panel">
      <div class="panel-body card">
        <div class="row">
          <div class="col-xs-12">
            <h4 class="title">Log</h4>
          </div>
        </div>
        {{logs-list user=model}}
      </div>
    </div>
  </div>
</div>
