<div class="row">
  <div class="col-xs-3">
    <h4 class="title">User Details</h4>
  </div>
</div>
<div class="row commands-row">
  <div class="col-xs-12">
    {{#link-to 'dashboard.users.index' tagName="button" class="btn command-btn"}}
      <i class="glyphicon glyphicon-chevron-left"></i>
    {{/link-to}}
    <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <div class="panel">
      <div class="panel-body card">
        <div class="row">
          <div class="col-xs-12 text-center">
            <img class="settings-img" src={{user.image}}>
            <h3 class="settings-user">{{user.firstname}} {{user.lastname}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    {{user-hours user=user}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="panel">
      <div class="panel-body card">
        <div class="row">
          <div class="col-xs-12">
            <h4 class="title">Log</h4>
          </div>
        </div>
        {{logs-list user=user}}
      </div>
    </div>
  </div>
</div>
