<div class="row">
  <div class="col-xs-3">
    <h4 class="title">Me</h4>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <div class="panel">
      <div class="panel-body card">
        <div class="row">
          <div class="col-xs-12 text-center">
            <img class="settings-img" src= {{dataService.user.image}}>
            <h3 class="settings-user">{{dataService.user.firstname}} {{dataService.user.lastname}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="panel">
      <div class="panel-body card">
        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="dash-circle">
              <span class="dash-circle-number">
                {{hours-worked logs}}
              </span>
            </div>
            <h3 class="settings-user">Hours Worked</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="panel">
      <div class="panel-body card">
        <div class="row">
          <div class="col-xs-12">
            <h4 class="title">Log</h4>
          </div>
        </div>
        {{logs-list user=dataService.user}}
      </div>
    </div>
  </div>
</div>
